<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hola soy un estudiante de UPIICSA que le agarro amor al desarrollo web, cree esta app
            con la ayuda de un profesor de Udemy llamado Andrew Mead
        </p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>